        * {
        font-family: Arial, Verdana, sans-serif;
        color: #162838;
        box-sizing: border-box;}
        
        header h1 {
        color: white; 
            font-weight: bold;
    }

        article h4 {
        text-align: center;}

        section h3 {
            font-weight:bold
        }

        article img {
        max-width: 100%;
        height:auto;}

        nav, #feature, footer {
        margin: 1%; }

        nav li {
        display: inline;
		padding: 0.5em;
        color: white;}

        .row-color-1 {
            background-color:#ADEBFF;
        }
